Slider container .slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Individual slide */
.slide {
  /* Each slide takes 100% of the slider's width */
  transition: transform 0.5s ease;
  /* Slide transition */
}

/* Make the active slide visible, translate it to the center */
.slide.active {
  transform: translateX(0%);
}

/* Style the images inside each slide */
.slide img {
  width: 100%;
  height: auto;
}

/* Additional styling as needed */

/* Style for individual slides */
.slide {
  width: 100%;
  display: none;
  transition: opacity 0.5s ease;
  /* Add a fade-in/fade-out transition */
}

/* Style for the active slide */
.slide.active {
  display: block;
}

/* Style for image captions (optional) */
.slide img {
  width: 70%;
  height: auto;
}

.watch {
  border-radius: 8px;
  margin-top: 10px;
  width: 10rem;
  height: 2.5rem;
  background: aliceblue;
  color: black;
  border: 0;
  cursor: pointer;
}

.mainImage {
  padding: 17pc;
  clip: rect(50px, 275px, 198px, 142px);
  background-size: 90pc 50pc !important;
  background-repeat: no-repeat !important;
  opacity: 0.3;
  border-radius: 8px
}

.overview { 
  word-wrap: break-word;
  width: 80%
}

.typoHeader {
  position: relative;
  bottom: 16rem;
  left: 3vw;
  display: inline
}

.movieName {
  font-size: 2.5rem !important;
  color: azure;
  z-Index: 10;
  position: relative;
  font-family: emoji !important;
  font-weight: bold !important;
  text-transform: uppercase
}


@media (max-width: 400px){
  .mainImage { 
    background-size: 25pc 41pc !important;
  }
  .typoHeader { 
    bottom: 21rem
  }
  .movieName { 
    font-size: 1.5rem !important;
  }
  .overview { 
    width: 97%;
    font-size: 14px !important
  }

  .frame {
    width: 24rem
  }
  /* .slide{
    font-size: 13px !important;
  } */
}