.active {
    font-size: 30px !important;
    color: grey;
    cursor: pointer
    
}

.related{
    /* text-decoration: underline; */
    color: white;
    cursor: pointer

}

.detail{
    margin: 6px 0 0 !important;
}

.container{
    margin: 20px 0px 0px 0px;
}