.selec {
    /* width: 9.5rem;
    text-align: center;
    height: 3rem;
    margin: 2rem 3rem;
    background: #212121;
    color: white;
    border: transparent;
    border-radius: 8px;
    font-size: 1.2rem; */
    width: 200px; /* Set the width of the select box */
   /* Add some padding for better readability */
    border: transparent;/* Add a border */
    border-radius: 8px; /* Add border radius */
    background: #121212;/* Set the background color */
    appearance: none; /* Remove the default arrow icon in some browsers */
    cursor: pointer;
    color: #fff;
    margin: 1.5rem 0rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid
}

.selec option {
    font-size: 14px; /* Set the font size for options */
    padding: 5px;
    background-color: red;
     /* Add some padding for better readability */
}

.selec option:checked {
   /* Set a background color for the selected option */
    color: #fff; /* Set the text color for the selected option */
}